<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            margin: 10px;
            margin-top: 3%;
        }
        .first{
  
            border: 2px solid black;
            width: fit-content;
            margin-left: 30%;

        }
        .form{
            font-size: 2.5rem;
            font-weight: 600;
        }
         </style>
    <title>World Time APP</title>
</head>
<body>
        <form method="post" action="/">
            <div class="first">
            <h1> World Time App Using WebApp</h1>
            <label >Enter Region:</label><br>

            <input type="text"  name="region" style="width:30rem; border-radius: 5px;"><br>
            <label >Enter Area:</label><br>

            <input type="text" name="area" style="width:30rem; border-radius: 5px;"><br><br>

            <input type="submit" style="background-color : lightgreen">
            <input type="reset" style="background-color : rgb(240, 79, 79)">
            </div>
        </form> 
   
    
</body>
</html>